{% extends 'basePanel.html' %} {% load static %}

{% block meta %}
<script src="https://d3js.org/d3.v5.js" defer></script>
<script src="https://d3js.org/d3-scale.v3.min.js" defer></script>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="{% static 'js/STOCK.js'%}" defer></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
{% endblock meta %}
{% block nav %}
	{% if request.user.is_authenticated %}
		<a class="right-topbar-item " href="">Panel</a>
	{% endif %}
{% endblock nav %}


{% block content %}

<div class="training-container"  >

	<div id="chart">

	</div>

</div>
{% endblock content%} 
{% block extra_js %}
<script>
    const data = {{data|safe}}
	document.addEventListener("keypress", function(e) {
	if (e.keyCode === 13) {
		toggleFullScreen();
	}
	}, false);

	function toggleFullScreen() {
		if (!document.fullscreenElement) {
			document.documentElement.requestFullscreen();
		} else {
			if (document.exitFullscreen) {
			document.exitFullscreen();
			}
		}
	}
    
</script>
{% endblock extra_js %}
