{% extends 'basePanel.html' %} {% load static %}

{% block nav %}
	{% if request.user.is_authenticated %}
        <a class="right-topbar-item " href="{% url 'wallet' %}">Portfel</a>
		<a class="right-topbar-item " href="{% url 'home' %}">Notowania</a>
	{% endif %}
{% endblock nav %}


{% block content %}

<div class="training-container" >
    <div class="profilemenu">
        
        <div class="divQuotes" id="PLAN_btn">

            <form action="." method="GET" >
                {% csrf_token %}

                <input type="text" name="quotes" value="PLAN"  style="display:None;">
                <button type="submit"   class="buttonQuotes"  >PLAN</button>
                        
            </form> 

        </div>
        <div class="divQuotes" id="Observe_btn">

            <form action="." method="GET" >
                {% csrf_token %}

                <input type="text" name="quotes" value="Obserwowane"  style="display:None;">
                <button type="submit"   class="buttonQuotes"  >Obserwowane</button>
                        
            </form> 

        </div>
    </div>
    <div class="border_middle">
        <div class = "center_cash">
            <form method="POST" action='.'>
                {% csrf_token %}
                <h1>{{title_account}} na konto: </h1>
                <div class="text-center">
                    <h3 style="color:#70b97b;">{{account}}</h3>
                </div>
                <div>
                    <span style="font-size: 19px">Kwota</span>
                </div>
                <div class="input-center">
                    {{form.cash}}
                    {{form.cash.errors}}
                </div>
                <div >
                    <span style="font-size: 19px" >Tytuł</span>
                </div>
                <div class="input-center"> 
                    {{form.title}}
                    {{form.title.errors}}
                </div>
                <div >
                    <span style="font-size: 19px" >Wybierz datę</span>
                </div>
                <div class="input-center">
                    {{form.day_transfer}}
                    {{form.day_transfer.errors}}
                </div>
                <div class="text-center">
                    <button type="submit"   class=" btn-primary-account"  >wyślij przelew</button>
                </div>
            
            </form>
            <div class="text-center">
                    <button onclick="location.href='{% url 'wallet' %}'" class="btn-primary-cancel" >Anuluj</button>
            </div>
        </div>
    </div>
 </div>
{% endblock content %}
{% block extra_js %}
    <script>
        $(function () {
            $("#id_day_transfer").datepicker({
                format:'yyyy-mm-dd',
            });
        });



    </script>


{% endblock extra_js %}
