
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEND email</title>
</head>
<body>

Dzień dobry: {{ user.get_username }} 
<br>
Aby zmienić hasło naciśnij  link.
<br>

<a style="background-color: #c35522;width: 250px;margin-left: 20px;border-style: solid;border-width: medium;color:white;" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"> clic the button</a>
<br>
Pozdawiam




</body>
</html>
