body.baseBackground {
    background-color: #080808;
}

body.PanelbaseBackground {
    background-color: #444642;
}

.block {
    padding: 20px 15px 1px;
    background-color: #f9fafc;
    border: 1px solid #033b2d;
}

.btn-primary {
    background-color: #c35522;
    border-color: #e1851b;
    color: #ffffff !important;
    width: 250px;
    left: 20%;
    margin-left: -5px;
}
.divQuotes {
    display: inline-block;
    width: 12%;
    text-align: center;

}
.divQuotes.active {
    display: inline-block;
    width: 12%;
    text-align: center;
    background-color: #979a9a;

}
.divQuotes:hover{
    background-color: #979a9a;
}
.buttonQuotes{
    border: none;
    background: none;
    cursor: pointer;
}

#login-background {
    width: 100%;
    height: 900px;
    overflow: hidden;
    position: relative;
}

span[id^=not_signed_]:before {
    content: 'Zaloguj się prze Google';
    padding-right: 35px;
    padding-left: 30px;
}

span[id^=connected]:before {
    content: 'Zalogowany w Google';
    padding-right: 45px;
    padding-left: 30px;
}

#login-background>img {
    position: absolute;
    width: 1960px;
    height: 900px;
    left: 70%;
    margin-left: -1380px;
}

#login-container {
    position: absolute;
    width: 500px;
    top: 230px;
    left: 50%;
    margin-left: -250px;
    z-index: 1000;
}

#login-container>.block {
    border: none;
}

#login-container .login-title {
    padding: 10px 10px;
    background: #444444;
    background: rgba(100, 39, 39, 0.6);
    border-radius: 5px;
}

#login-container .login-title h1 {
    font-size: 26px;
    color: #ffffff;
}

.push-bit {
    margin-bottom: 120px !important;
}

.form-bordered .form-group.form-actions { 
    background-color: #f9fafc;
    border-bottom: none;
}

.form-bordered {
    margin: -15px -15px -1px;
}



.form-horizontal.form-bordered .form-group {
    padding-left: 20px;
    padding-right: 35px;
}

.form-control:focus {
    border-color: #c26c1c;
}

.form-bordered .form-group { 
    margin: 0;
    border: none;
    padding: 20px;
    border-bottom: 1px dashed #eaedf1;
}

.input-group-addon {
    min-width: 60px;
    text-align: center;
    background-color: #ffffff;
    border-color: #cc6510;
}

nav {
    position: fixed;
    top: 0px;
    background-color: #979a9a;
    height: 32px;
    width: 100%;
}

.content-topbar {
    padding-top: 0.5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-btn {
    cursor: pointer;
}
.drowLine:hover{
    stroke-width: 3
}
.btn-btn:hover,
.btn-btn:focus {
    background-color: #2980B9;
}

.btn-cont { 
    padding: 3px 3px;
    border: none;
    display: block;
    margin-bottom: 0 !important;
}

.dropdown { 
    display: inline-block;
    text-align: right;
}

.dropdown p:hover {
    background-color: #ddd;
}

.show {
    display: block !important;
}

.left {
    left: 80%!important;
}

.dropdown p:hover {
    background-color: #ddd;
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-WIG {
    position: absolute;
    padding: 4px 15px;
    display: none;
    background-color: #f17a1d;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-WIG a{
    color: #555405;
    text-decoration: none;
}
.lowqty{
    color:red;
}

.highqty{
    color:rgb(20, 165, 44);
}

#register-container {
    position: absolute;
    width: 500px;
    top: 80px;
    left: 50%;
    margin-left: -250px;
    z-index: 1000;
}

#register-container>.block {
    border: none;
}

#register-container .login-title {
    padding: 10px 10px;
    background: #444444;
    background: rgba(100, 39, 39, 0.6);
    border-radius: 5px;
}

#register-container .login-title h1 {
    font-size: 26px;
    color: #ffffff;
}

.right-topbar {
    margin-left: 22%;
    margin-right: 13%;
}

.right-topbar-item {
    font-family: Roboto-Regular, arial;
    font-size: 90%;
    color: rgb(226, 226, 226);
    padding: 0 2% 0 2%;
    position: relative;
    transform: scale(1, 1);
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

a.right-topbar-item:hover {
    color: #0b5d08;
    text-decoration: none;
}




.training-container {
    margin: 60px 5% 5px 5%;
    padding: 30px 5% 10px 5%;
    background-color: #f9fafc;
    box-shadow: 1px 1px 30px -2px rgba(172 187 166);
    border-radius: 10px;
}
.table{
    margin-top: 2px;
}

.table thead th {
    background-color: #ea8007 !important;
}

.table-filter {
    color: #555405 !important;
}

.table-filter .fa {
    margin: auto;
}

.table-filter button {
    border: none;
    background: none;
    margin-left: 10%;
}

#chart {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}


@media screen and (max-width: 768px) {
    nav {
        position: relative;
        top: 0px;
        height: 65px;
        width: 100%;
    }
    .right-topbar {
        margin-left: 0%;
        margin-right: 0%;
    }

    .training-container {
        margin: 5px 5% 5px 5%;
        padding: 20px 5% 5px 5%;
        background-color: #f9fafc;
        box-shadow: 7px 2px 30px -2px rgba(127, 163, 113, 1);
        border-radius: 10px;
    }
    .training-container:hover {
        margin: 4px 4% 4px 4%;
    }
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    .hamburger {
        position: fixed;
        cursor: pointer;
        right: 20px;
        top: 33px;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    .content-topbar {
        position: fixed;
        background: #00ACD6;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        clip-path: inset(0% 0% 93% 0%);
        -webkit-clip-path: inset(0% 0% 93% 0%);
        ;
        transition: all 1s ease-out;
        z-index: 1;
    }
    .content-topbar.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
        z-index: 1;
    }
    .right-topbar-item {
        font-family: Roboto-Regular, arial;
        font-size: 30px;
        color: rgb(226, 222, 218);
        padding: 0 2% 0 2%;
        position: relative;
    }
    a.fade {
        opacity: 0.5;
    }
    tr>.text-center {
        width: 100% !important;
    }
 
    .gi.gi-leaf {
        margin: 10px 10% 0px 10% !important;
    }
    #btn {
        top: 20px;
        left: 20px;
        height: 30px;
        width: 30px;
        font-size: 1.5rem;
    }
}